@{
    ViewData["Title"] = "O mě";
}

<p>Jmenuji se Lucie Kolečková a toto je můj osobní blog. V současné době studuji rekvalifikační kurz objektově-orientovaného programování na VŠB-Ostrava.</p>

<p class="centrovany"><img src="~/images/m2.JPG" alt="Programátorka Lucka" /></p>

<p>Blog je naprogramovaný v C# .NET s použitím webového frameworku ASP.NET Core MVC. Komunikuje s databází pomocí 
    EntityFrameworku, ze které se tímto způsobem zobrazují články, což si můžete vyzkoušet v záložce články. </p>

