@{
    ViewData["Title"] = "Reference";
}

<p>Níže naleznete ukázky mých dosavadních prací.</p>

<div id="reference">
    <a href="http://luciekoleckova.cz/exhibition/"><img src="~/images/vystava.png"/></a>
    <a href="http://luciekoleckova.cz/formular1/nabytek.exe"><img src="~/images/form1.png"/></a>
    <a href="http://luciekoleckova.cz/knihy/vlozeni.php"><img src="~/images/knihy.png"/></a>
</div>